.Report{
    background-color: white;
    margin-left: 15px;
    text-align: left;
    font-size: 18px;
    margin-right: 15px;
    margin-top: 35px;
    display: flex;
}

.Report-Content{
    margin-left: 15px;
    margin-right: 15px;

    border-radius: 15%;
}

.divInput{
    margin-top: 10px;
    margin-bottom: 10px;
}

.Report-Content p{
    padding-top:10px;
}

.Report-Content Button{
    float: right;
    margin-bottom: 10px;
}