.Header{
    background-color: #696889;
    text-decoration-color: white;
    text-emphasis-color: #EA736F;
}

.bell-icon{
    margin-top: 10px;
}

.NavItem {
    margin-left: 15px;
    margin-right: 15px;
}

.ml-auto{
    align-items: flex-start;
}
